@model Pasantes.Website.Models.BodyLeft

@if (Model == null)
{
    <h3>No data source found!</h3>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                @if (Model.Image != null)
                {
                    <img class="img-fluid mx-auto d-block rounded" src="@Model.Image.Src" alt="">
                }
            </div>
        </div>
    </div>
   
}