<!DOCTYPE html>
<html>
<head>
    <!--title>Image Example</!--title-->
</head>
<body>

    <!-- Image tag with src attribute pointing to the image file -->
    <img src="pasantes.png" alt="Example Image">

</body>
</html>